{% extends 'base_generic.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Добавление новой категории</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Добавить категорию</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
