{% extends 'base_generic.html' %}

{% block content %}
<style>
    .form-control, .btn-primary {
        width: 100%; /* Гарантируем, что элементы займут всю ширину контейнера */
        margin-top: 10px; /* Добавляем небольшой отступ сверху для каждого элемента */
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-3 text-center">Регистрация</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
